/*------- cloud-vector colors -------*/

$primary: #2c4a9a;
$primary-hover: #f6a32c;
$primary-transparent: rgba(44,74,154,0.9);
$primary-transparent-2: rgba(44,74,154,0.75);

/*------- end of cloud-vector color -------*/

@import "template-styles";